.checkout-page{

  min-height:100vh;

  background:black;

  color:white;

  display:flex;

  gap:80px;

  padding:150px 8%;

}

.checkout-left{

  flex:1;

  display:flex;

  flex-direction:column;

  gap:20px;

}

.checkout-left input{

  height:60px;

  padding:0 20px;

  border:none;

  border-radius:15px;

  background:#111;

  color:white;

}

.checkout-left button{

  height:60px;

  border:none;

  border-radius:50px;

  cursor:pointer;

  font-weight:bold;

}

.checkout-right{

  width:400px;

  background:#111;

  padding:30px;

  border-radius:25px;

}